body {
    margin: 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    height: 100vh;
}

button {
    --glow-color: rgb(0, 51, 255);
    --glow-spread-color: rgba(93, 197, 254, 0.781);
    --enhanced-glow-color: rgb(24, 199, 208);
    --btn-color: rgb(0, 242, 255);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 25px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

button::after {
    pointer-events: none;
    content: "";
}